[user]
	email   = mike@mikewest.org
	name    = Mike West
[alias]
	co      = checkout
	st      = status
	d       = diff
[color]
	status  = auto
	diff    = auto
	branch  = auto
[merge]
	tool    = opendiff
[apply]
	whitespace      = nowarn
[github]
	user            = mikewest
	token           = SEKRIT
[core]
	excludesfile    = /Users/mikewest/.gitignore
