[submodule "./lib/python/webkit2png"]
	path = ./lib/python/webkit2png
	url = git://github.com/paulhammond/webkit2png.git
[submodule ".vim/tracked_plugins/vim-markdown"]
	path = .vim/tracked_plugins/vim-markdown
    url = git@github.com:mikewest/vim-markdown.git
[submodule ".vim/tracked_plugins/vim-git"]
	path = .vim/tracked_plugins/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/tracked_plugins/vim-liquid"]
	path = .vim/tracked_plugins/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
