[user]
    email   = mkwst@google.com
    name    = Mike West

[alias]
	co      = checkout
	st      = status
  d       = diff
  dc      = diff --cached
  log1    = log --pretty=oneline --abbrev-commit --decorate
  l       = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  up      = ! git stash && git svn rebase && git stash pop
  fshow   = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | sort | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
  fdiff   = ! sh -c 'git diff --name-only $1 | sed -e "s#^#`git rev-parse --show-toplevel`/#" | xargs -iFILE find FILE 2> /dev/null' -
  vim     = ! sh -c 'vim `git fdiff ${1:-origin/trunk..}`' -
  vimrev  = ! sh -c 'vim `git fshow $1`' -
  vimun   = ! vim `git st --porcelain | grep '^[ U?][MAU?] ' | sed -e 's/^[ U?][MAU?] //'`

[color]
	status  = auto
	diff    = auto
	branch  = auto

[merge]
	tool    = vimdiff

[apply]
	whitespace      = nowarn

[github]
	user            = mikewest
	token           = SEKRIT

[core]
    excludesfile    = /Users/mikewest/.gitignore

[push]
    default         = matching
