# ignore common files not needed under revision control
var
*.pyc

# ignore sensitive files
.ssh

# ignore OS X stuff
.DS_Store
.Trash
.MacOSX

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Sites/
Sources/

# ignore subversion
.subversion
.svn

# ignore vim debris
tags
*.swp
*~
.vim/tmp
